html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.map-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
}

.layer-picker {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 20000;
}